<main>
  <div
    class="container"
    id="start"
  >
    <div class="about-section">
      <div>
        <p class="hello-text">Hi! I am</p>
        <h1 class="h1-about-author">Yulia Masliak</h1>
        <h5> Web Developer, based in Kyiv, Ukraine </h5>
        <p class="about">
          As a passionate and dedicated developer, I have experience in
          developing web projects, single-page applications, and multi-page
          websites. The scope of my expertise includes JavaScript, TypeScript,
          Angular, Commercetools, React, NodeJS, WebSocket, NestJS, Git, GitHub,
          Jest, Webpack, REST API, Async coding, Bootstrap, Figma.
        </p>
      </div>
    </div>
    <div class="image-block">
      <img
        src="./assets/portrait.png"
        class="img-photo"
        alt="Yulia Masliak portrait"
      />
    </div>
  </div>
  <app-skills></app-skills>
  <app-slogan></app-slogan>
  <app-projects></app-projects>
</main>

