@mixin white-gradient {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.carousel {
  display: flex;
  justify-content: space-around;
  width: 78%;
  margin: auto;

  .slide {
    height: 100px;
    display: flex;
    justify-content: space-between;
    width: fit-content;
    flex-direction: column;
    text-align: center;
    img {
      display: block;
      margin: 0 auto;
    }
    .slide-name {
      text-align: center;
      color: grey;
    }
  }
}

