<div class="projects-container">
  <h3>Yulia's Masliak<br /><br />Portfolio</h3>
  <div class="projects-flex">
    <div class="project-item">
      <div class="project-head">
        <h6>Project Management App</h6>
        <div class="built-with">Built with Angular, MongoDB</div>
      </div>
      <div class="project-image">
        <a
          href="https://pms-project.netlify.app/#/main/welcome"
          target="_blank"
          title="Go to project website"
        >
          <img
            src="../../../assets/pms-angular.png"
            alt="shelter-app"
            width="250"
            class="img-project img-fluid"
        /></a>
      </div>
      <a
        href="https://pms-project.netlify.app/#/main/welcome"
        target="_blank"
        class="btn-learn"
        title="Go to project website"
        >Learn more</a
      >
    </div>
    <div class="project-item">
      <div class="project-head">
        <h5>Car-Race</h5>
        <div class="built-with">
          Built with JavaScript, NodeJs, REST API, Webpack
        </div>
      </div>
      <div class="project-image">
        <img
          src="../../../assets/race.png"
          alt="car-race-app"
          width="250"
          class="img-project img-fluid"
        />
      </div>
      <a
        href="https://celebrated-sunshine-7d7952.netlify.app/"
        target="_blank"
        class="btn-learn"
        title="Go to repo at GitHub"
        >Learn more</a
      >
    </div>
    <div class="project-item">
      <div class="project-head">
        <h5>Shelter</h5>
        <div class="built-with">Built with JavaScript, HTML and CSS</div>
      </div>
      <div class="project-image">
        <a
          href="https://yuliamasliak.github.io/shelter/"
          target="_blank"
          title="Go to project website"
        >
          <img
            src="../../../assets/shelter.png"
            alt="shelter-app"
            width="250"
            class="img-project img-fluid"
        /></a>
      </div>
      <a
        href="https://yuliamasliak.github.io/shelter/"
        target="_blank"
        class="btn-learn"
        title="Go to project website"
        >Learn more</a
      >
    </div>

    <div class="project-item">
      <div class="project-head">
        <h5>Minesweeper</h5>
        <div class="built-with"
          >Built with JavaScript(ES6 modules), CSS, Webpack</div
        >
      </div>
      <div class="project-image">
        <a
          href="https://yuliamasliak.github.io/minesweeper/"
          target="_blank"
          title="Go to project website"
        >
          <img
            src="../../../assets/minesweeper.png"
            alt="Minesweeper"
            width="250"
            class="img-project img-fluid"
        /></a>
      </div>
      <a
        href="https://yuliamasliak.github.io/minesweeper/"
        target="_blank"
        class="btn-learn"
        title="Go to project website"
        >Learn more</a
      >
    </div>
    <div class="project-item">
      <div class="project-head">
        <h5>CSS Trainer</h5>
        <div class="built-with">Built with TypeScript and Webpack</div>
      </div>
      <div class="project-image">
        <a
          href="https://css-celectors-trainer.netlify.app/"
          target="_blank"
          title="Go to project website"
        >
          <img
            src="../../../assets/css-trainer.png"
            alt="Css trainer"
            width="250"
            class="img-project img-fluid"
        /></a>
      </div>
      <a
        href="https://teal-pika-860ffe.netlify.app/"
        target="_blank"
        class="btn-learn"
        title="Go to project website"
        >Learn more</a
      >
    </div>
    <div class="project-item">
      <div class="project-head">
        <h5>Virtual Keyboard</h5>
        <div class="built-with"
          >Built with JS(ES6 modules), HTML, CSS, Webpack</div
        >
      </div>
      <div class="project-image">
        <a
          href="https://teal-pika-860ffe.netlify.app/"
          target="_blank"
          title="Go to project website"
        >
          <img
            src="../../../assets/keyboard.png"
            alt="Virtual keyboard"
            width="250"
            class="img-project img-fluid"
        /></a>
      </div>
      <a
        href="https://teal-pika-860ffe.netlify.app/"
        target="_blank"
        class="btn-learn"
        title="Go to project website"
        >Learn more</a
      >
    </div>

    <div class="project-item">
      <div class="project-head">
        <h5>Book-Shop</h5>
        <div class="built-with">Built with JS, CSS</div>
      </div>
      <div class="project-image">
        <a
          href="https://rococo-donut-4c1689.netlify.app/"
          target="_blank"
          title="Go to project website"
        >
          <img
            src="../../../assets/book-shop.png"
            alt="book-shop-app"
            width="250"
            class="img-project img-fluid"
        /></a>
      </div>
      <a
        href="https://rococo-donut-4c1689.netlify.app/"
        target="_blank"
        class="btn-learn"
        title="Go to project website"
        >Learn more</a
      >
    </div>

    <div class="project-item">
      <div class="project-head">
        <h5>Weather Forecast App</h5>
        <div class="built-with"> Built with JS, HTML, CSS </div>
      </div>
      <div class="project-image">
        <a
          href="https://guileless-souffle-c5aa94.netlify.app/"
          target="_blank"
        >
          <img
            src="../../../assets/weather.png"
            alt="forecast-app"
            width="250"
            class="img-project img-fluid"
        /></a>
      </div>
      <a
        href="https://guileless-souffle-c5aa94.netlify.app/"
        target="_blank"
        class="btn-learn"
        title="Go to project website"
        >Learn more</a
      >
    </div>

    <div class="project-item">
      <div class="project-head">
        <h5>Dictionary App</h5>
        <div class="built-with">Built with React</div>
      </div>
      <div class="project-image">
        <a
          href="https://fastidious-cannoli-88e429.netlify.app/"
          target="_blank"
        >
          <img
            src="../../../assets/dictionary-react.png"
            alt="dictionary-project"
            width="250"
            class="img-project img-fluid"
        /></a>
      </div>
      <a
        href="https://fastidious-cannoli-88e429.netlify.app/"
        target="_blank"
        class="btn-learn"
        title="Go to project website"
        >Learn more</a
      >
    </div>
    <div class="project-item">
      <div class="project-head">
        <h5>Zoo</h5>
        <div class="built-with"> Built with JS, HTML and CSS </div>
      </div>
      <div class="project-image">
        <a
          href="https://brilliant-praline-c84a06.netlify.app/index.html"
          target="_blank"
        >
          <img
            src="../../../assets/portfolio-project.png"
            alt="babyshell-project"
            width="250"
            class="img-project img-fluid"
        /></a>
      </div>
      <a
        href="https://brilliant-praline-c84a06.netlify.app/index.html"
        target="_blank"
        class="btn-learn"
        title="Go to project website"
        >Learn more</a
      >
    </div>
    <div class="project-item">
      <div class="project-head">
        <h5>Weather App</h5>
        <div class="built-with">Built with React</div>
      </div>
      <div class="project-image">
        <a
          href="https://flourishing-croissant-d90f66.netlify.app/"
          target="_blank"
        >
          <img
            src="../../../assets/weather-react.png"
            alt="babyshell-project"
            width="250"
            class="img-project img-fluid"
        /></a>
      </div>
      <a
        href="https://flourishing-croissant-d90f66.netlify.app/"
        target="_blank"
        class="btn-learn"
        title="Go to project website"
        >Learn more</a
      >
    </div>
  </div>
</div>

