.projects-container {
  max-width: 80%;
  margin: 0px auto;
  margin-top: 50px;
  padding-top: 20px;
  text-align: center;
  background-color: white;
  h3 {
    color: #4d4d5a;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin: 0px auto;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
  }
  .projects-flex {
    display: flex;
    column-gap: 5%;
    row-gap: 15%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .project-head {
      height: 70px;
    }
    .project-item {
      padding: 5px;
      text-align: center;
      margin-bottom: 25px;
      width: 200px;
      font-family: 'Montserrat', sans-serif;
      .built-with {
        font-size: 12px;
      }
      .img-project {
        border: 0.1px solid #e3e3e4;
        border-radius: 7px;
        cursor: pointer;
        transform: scale(0.9);
      }
      .img-project:hover {
        transform: scale(1.2);
        transition-duration: 0.5s;
      }
    }
  }
}
.projects-link {
  text-decoration: none;
}

.btn-learn,
.submit-2 {
  background-color: #5551ff;
  border: 1px solid #5551ff;
  color: white;
  font-size: 12px;
  margin-bottom: 30px;
  padding: 10px 15px;
  border-radius: 9px;
  text-decoration: none;
}
.btn-learn:hover,
.submit-2:hover {
  background-color: white;
  border: 1px solid #5551ff;
  color: #5551ff;
}
