@import '~bootstrap/dist/css/bootstrap.min.css';
$font: 'Montserrat', sans-serif;

html {
  scroll-behavior: smooth;
}
* a:hover {
  color: rgb(92, 56, 209);
}
* a {
  text-decoration: none;
}
body {
  margin: 0px auto;
  background-color: #f8f9fa;
  font-family: $font;
  max-width: 100vw;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
